:root {
  --fundo: #f7f7f7;
  --primaria: #f8519c;
  --secundaria: #ff9354;
  --acento: #d41818;
  --preto: #140f11;
  --cinza: #e6e6e6;
  --gradiente-topo-comeco: rgb(255, 182, 98);
  --gradiente-topo-final: rgb(255, 138, 138);
  --gradiente-comeco: rgb(255, 232, 205);
  --gradiente-final: rgb(255, 203, 203);
  --fonte: "Inclusive Sans", Arial, Helvetica, sans-serif;
}

* {
  font-family: var(--fonte);
}