@import url("bases.css");

.meio > span {
  background-color: var(--secundaria);
  font-size: 1.75rem;
  width: 250px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

.item-carrinho-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itens-carrinho {
  width: 60vw;
  background-color: var(--fundo);
}

.item-carrinho {
  min-width: 400px;
  width: 100%;
  min-height: 100px;
  background-color: var(--secundaria);
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border: 5px var(--preto);
  margin: 5px 0px 5px 0px;
  border-radius: 15px;
}

.item-carrinho span {
  text-align: center;
}

.item-carrinho span:first-child {
  font-size: 1.25rem;
  margin-left: 35px;
  text-align: center;
}

.item-carrinho-nome {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-carrinho-preco {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-carrinho-quantidade {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
}

.item-carrinho-quantidade * {
  margin: 8px;
}

.item-carrinho-quantidade button {
  border: none;
  border-radius: 10px;
  height: 38px;
  width: 38px;
  background-color: var(--fundo);
}

.item-carrinho-quantidade button:hover {
  cursor: pointer;
  background-color: var(--fundo);
}

.item-carrinho-quantidade span {
  font-size: large;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.finalizacao {
  background-color: var(--secundaria);
  width: 60vw;
  height: 100px;
  display: flex;
  margin-bottom: 30px;
  border-radius: 1 5px;
  overflow: hidden;
  border-radius: 10px;
  flex-wrap: wrap;
}

.finalizacao div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalizacao-preco {
  width: 50%;
  height: 100%;
  font-size: 1.25rem;
}

.finalizacao-botao {
  width: 50%;
  height: 100%;
}

.finalizacao-botao button {
  height: 50px;
  width: 200px;
  border: 3px solid var(--acento);
  border-radius: 999px;
  font-size: 1.25rem;
  color: var(--preto);
  background-color: var(--fundo);
  transition: 150ms;
}

.finalizacao-botao button:hover {
  cursor: pointer;
  background-color: var(--acento);
  color: var(--fundo);
  box-shadow: 0px 2px 5px var(--escuro);
}