:root{
    --fundo: #fbf9fa;
    --primaria: #f8519c;
    --secundaria: #fdaed2;
    --acento: #d41870;
    --preto: #140f11;
    --cinza: #e6e6e6;
}

body{
    margin: 0px;
}

.topo{
    background-color: var(--primaria);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-esquerda{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
}

.busca-itens{
    font-size: large;
    padding: 10px;
    background-color: var(--cinza);
    border: none;
    border-radius: 15px;
}

.topo-direita{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 20px;
}

.botao{
    height: 50px;
    width: 150px;
    background-color: var(--secundaria);
    border-radius: 10px;
    border: solid var(--acento);
    font-size: large;
    color: var(--preto);
    transition: 150ms;
}

.botao:hover{
    background-color: var(--acento);
    color: var(--fundo);
    cursor: pointer;
}

.meio{
    display: flex;
    justify-content: center;
}

.itens{
    width: 100%;
    display: grid;
    grid-auto-columns: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-items: center;
    align-items: center;
}

.item{
    height: 300px;
    width: 250px;
    background-color: var(--secundaria);
    border-radius: 15px;
    overflow: hidden;
    margin: 15px;
}

.item-conteudo{
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-botao{
    height: 50px;
    width: 250px;
    background-color: var(--primaria);
    transition: 150ms;
    border-top: var(--acento) 2px solid;
    display: flex;
    align-items: top;
    justify-content: center;
    padding-top: 6px;
}

.item-botao:hover{
    background-color: var(--acento);
}

.botao-carrinho{
    height: 35px;
    width: 170px;
    background-color: var(--primaria);
    border-radius: 10px;
    border: none;
    font-size: medium;
    color: var(--preto);
    transition: 50ms;
}

.botao-carrinho:hover{
    color: var(--fundo);
}

.botao-carrinho:active{
    background-color: var(--acento);
}