@import url("bases.css");

.itens {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.item {
    background-color: var(--secundaria);
    height: 50px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    margin: 5px;
    border-radius: 5px;
}

.margem-topo {
    margin-top: 10px;
}

.item * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-id {
    height: 100%;
    width: 10%;
}

.item-nome {
    height: 100%;
    width: 50%;
}

.item-preco {
    height: 100%;
    width: 20%;
}

.item-botao {
    height: 100%;
    width: 20%;
}

.item-botao button {
    border: none;
    font-size: large;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    background-color: var(--fundo);
}

.item-botao button:hover {
    cursor: pointer;
}