@import url("bases.css");

.meio > span {
    background-color: var(--secundaria);
    font-size: 1.75rem;
    width: 300px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
  }  

.itens {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    background-color: var(--secundaria);
    width: 50%;
    height: 60px;
    display: flex;
    border-radius: 10px;
    margin-top: 5px;
}

.item div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    text-align: center;
}

.item-nome {
    height: 100%;
    width: 40%;
}

.item-preco {
    height: 100%;
    width: 30%;
}

.item-quantidade {
    height: 100%;
    width: 30%;
}

.total {
    width: 50%;
    margin: 10px 0px;
    height: 100px;
    background-color: var(--secundaria);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.25rem;
    border-radius: 10px;
}

.total select {
    width: 200px;
    height: 40px;
    font-size: 1.25rem;
    border-radius: 5px;
    background-color: var(--fundo);

}

.total button {
    font-size: 1.25rem;
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: 3px var(--acento) solid;
    color: var(--escuro);
    transition: 150ms;
}

.total button:hover {
    background-color: var(--acento);
    color: var(--cinza);
    cursor: pointer;
}

.total button:active {
    color: var(--preto);
}