@import url("bases.css");

.itens {
  width: 90%;
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}

.item {
  height: 300px;
  width: 250px;
  background: linear-gradient(45deg, var(--gradiente-comeco), var(--gradiente-final));
  border-radius: 15px;
  overflow: hidden;
  margin: 15px;
}

.item img {
  border-radius: 15px;
}

.invisivel {
  display: none;
}

.item span {
  color: black;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.item-conteudo {
  height: 250px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.item-botao {
  height: 50px;
  width: 250px;
  transition: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.botao-carrinho {
  background-color: rgba(170, 111, 84, 0);
  color: black;
  height: 35px;
  width: 180px;
  border-radius: 10px;
  border: none;
  font-size: medium;
  transition: 150ms;
}

.botao-carrinho:hover {
  background-color: rgba(255, 94, 0, 0.253);
  cursor: pointer;
}

.botao-carrinho:active {
  background: linear-gradient(45deg, var(--gradiente-topo-comeco), var(--gradiente-topo-final));
}