@import url("bases.css");

body {
  margin: 0px;
}

.topo {
  background: linear-gradient(45deg, var(--gradiente-topo-comeco), var(--gradiente-topo-final));
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topo-esquerda {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}

.busca-itens {
  font-size: large;
  padding: 10px;
  background-color: var(--fundo);
  border: none;
  border-radius: 15px;
}

.topo-direita {
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}

.topo-direita div {
  color: var(--cinza);
  font-size: 1.5rem;
  background-color: var(--acento);
  border-radius: 5px;
  height: 50px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topo-direita div a:visited {
  text-decoration: none;
}

.botao {
  height: 50px;
  width: 150px;
  background-color: var(--secundaria);
  border-radius: 10px;
  border: solid var(--acento);
  font-size: large;
  color: var(--preto);
  transition: 150ms;
}

.botao:hover {
  background-color: var(--acento);
  color: var(--fundo);
  cursor: pointer;
}

.meio {
  background-color: var(--fundo);
  min-height: 90vh;
}